@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <img src="~/images/logo.jpg" class="logo" alt="logo" />

    
    <h1>Welcome to book Store application</h1>
    <img src="~/MyStaticFile/bookbranding.jpg" alt="dummy" class="logo"/>



</body>
</html>